.background-container {
  position: absolute;
  z-index: -15;
  width: 100%;
  left: 0%;
  height: 150vh;
  overflow: hidden;
}

.background-container .gradiant {
  height: 30vh;
  width: 100%;
  background: #fefff0;
  box-shadow: 0 161px 78px 30px #fefff0;
  z-index: -13;
}

.background-container img {
  position: relative;
  z-index: -14;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: .3;
  margin-top: 20vh;
}
