.title-container .title {
  background: white;
  padding: 10px;
  border-radius: 75px;
  margin: 0 0 30px 0;
  box-shadow: 0px 9px 23px #eee;
}
.title-container .text {
  line-height: 2;
  font-size: 1.2em;
}
